[submodule " kicad-lib/kicad-footprints"]
	path = kicad-lib/kicad-footprints
	url = https://github.com/KiCad/kicad-footprints.git
[submodule " kicad-lib/kicad-symbols"]
	path = sch/kicad-symbols
	url = https://github.com/KiCad/kicad-symbols.git
[submodule " kicad-lib/kicad-templates"]
	path = template/kicad-templates
	url = https://github.com/KiCad/kicad-templates.git
[submodule " kicad-lib/kicad-packages3D"]
	path = shape/kicad-packages3D
	url = https://github.com/KiCad/kicad-packages3D.git
